@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kso20h');
  src:  url('fonts/icomoon.eot?kso20h#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kso20h') format('truetype'),
    url('fonts/icomoon.woff?kso20h') format('woff'),
    url('fonts/icomoon.svg?kso20h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e901";
}
.icon-pencil:before {
  content: "\e906";
}
.icon-mail:before {
  content: "\e945";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-user:before {
  content: "\e971";
}
